[tool.poetry]
authors = ["Guillaume Gauvrit <guillaume@gauvr.it>"]
description = ""
name = "messagebus"
version = "0.1.0"

[tool.pyright]
include = ["src"]
typeCheckingMode = "strict"

[[tool.mypy.overrides]]
disallow_any_generics = true
disallow_untyped_defs = true
module = "messagebus.*"

[tool.poetry.dependencies]
python = "^3.7"
pydantic = "^2.2.1"
typing-extensions = "^4.6.3"
pytest-cov = "^4.1.0"
venusian = "^3.0.0"

[tool.poetry.group.dev.dependencies]
black = "^23.3.0"
esbonio = "^0.16.1"
flake8 = "^5"
furo = "^2022"
isort = "^5"
mypy = "^1.4.0"
pytest = "^7"
pytest-asyncio = "^0.21.0"
pytest-cov = "^4.1.0"
result = "^0.10.0"
sphinx = "^4"
tomlkit = "^0.11.5"
unasync = "^0.5.0"


[tool.isort]
profile = "black"

[tool.pytest.ini_options]
asyncio_mode = "auto"
testpaths = ["tests"]
filterwarnings = [
    "error",
    # setuptools
    'ignore:.*pkg_resources is deprecated as an API.*:DeprecationWarning',
    'ignore:.*Deprecated call to `pkg_resources.declare_namespace',
    # venusian
    'ignore:.*find_module\(\) is deprecated.*:DeprecationWarning',
    'ignore:.*FileFinder.find_loader\(\) is deprecated.*:DeprecationWarning',
]

[tool.coverage.report]
exclude_lines = [
  "# coverage: ignore",
]


[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]
